$button-primary-padding: min(20px, 2.5vh) min(72px, 10vh);
$button-primary-padding-small: min(12px, 1.7vh) min(60px, 8vh);
$button-secondary-padding: min(48px, 6.5vh) min(48px, 6.5vh);
$button-secondary-padding-small: min(40px, 5.5vh) min(40px, 5.5vh);
$button-default-border-radius: min(32px, 4vh);
$button-default-border-radius-small: min(24px, 3vh);
$button-default-border-width: min(6px, 0.8vh);
$button-default-box-shadow: -6px -8px 0px 0px;
$button-default-font-size: min(3vw, 3vh);
$button-default-font-weight: 500;
$button-secondary-box-shadow: -8px -10px 0px 0px;
$button-secondary-inner-shadow: 0px 0px 12px 0px;

$response-size-default-width: clamp(120px, 10vw, 150px);
$response-size-default-height: 15vh;
$response-size-sm-width: clamp(100px, 18vw, 150px);
$response-size-m-width: calc(clamp(70px, 22vw, 250px) - 10px);
$response-size-m-height: 38vh;

$response-size-default: min($response-size-default-width, $response-size-default-height);
$response-size-sm: min($response-size-sm-width, $response-size-default-height);
$response-size-s: 22vw;
$response-size-m: min($response-size-m-width, $response-size-m-height);

// replay btn
$replay_btn_size: min(64px, 8vh);
$replay_btn_pos: min(8px, 1vh);

// progress bar
$progress_bar_pos: min(8px, 1vh);
$progress_bar_width: 70vw;
$progress_bar_height: min(10px, 1.5vh);
