
node_modules
dist
**/.Rhistory
**/.Rproj.user
**/.ipynb_checkpoints
.idea
.DS_Store.firebase/*.cache
.firebase/
.firebase/*.cache
**/.DS_Store
test-results/
lib/
.env
.idea/
.vscode/
task-launcher/.venv/
task-launcher/data/
task-launcher/firestore-debug.log
