@use '../abstracts/' as *;

.lev-row-container {
  display: flex;
  padding: $lev-spacing-s;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $txt-primary;

  &.header {
    p {
      font-size: $font-size-m;
      font-weight: $font-weight-bold;
      margin: 0;
    }
    
    @include respond-to('medium') {
      display: flex;
      padding: $lev-spacing-xs;
      justify-content: center;
      align-items: center;
  
      p {
        font-size: $font-size-s;
        font-weight: $font-weight-normal;
        margin: 0;
      }
    }
  
    @include respond-to('small') {
      display: flex;
      padding: $lev-spacing-xxs;
      justify-content: center;
      align-items: center;
  
      p {
        font-size: $font-size-xxs;
        font-weight: $font-weight-normal;
        margin: 0;
      }
    }
  }

  &.instruction {
    display: flex;
    padding: $lev-spacing-s;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid $bg-accent_secondary;
    border-radius: 32px;
    background-color: $bg-bubble-base;

    p {
      font-size: $font-size-xs;
      font-weight: $font-weight-light;
      line-height: 1.0;
      margin: 0;
    }
    
    @include respond-to('medium') {
      display: flex;
      padding: $lev-spacing-xs;
      justify-content: center;
      align-items: center;
      border-radius: 24px;
  
      p {
        font-size: $font-size-xxs;
        font-weight: $font-weight-light;
        line-height: 1.0;
        margin: 0;
      }
    }
  
    @include respond-to('small') {
      display: flex;
      padding: $lev-spacing-xxs;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
  
      p {
        font-size: $font-size-xxxs;
        font-weight: $font-weight-light;
        line-height: 1.0;
        margin: 0;
      }
    }
  }
}

.lev-stimulus-container {
  width: 100%;
  max-width: 900px;
  justify-content: center;
  margin-top: 32px;
}

.lev-stim-content {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  font-size: $font-size-l;
  color: $txt-primary;
  margin: $lev-spacing-s 0;

  img {
    border: none;
    width: clamp(120px, 12vw, 150px);
    height: clamp(120px, 12vw, 150px);
    padding: 0;
    margin: 0;
    border-radius: $lev-spacing-s;
  }

  @include respond-to('small-medium') {
    img {
      width: clamp(100px, 20vw, 150px);
      height: clamp(100px, 20vw, 150px);
      border-radius: $lev-spacing-xs;
    }
  }

  @include respond-to('small') {
    img {
      width: 25vw;
      height: 25vw;
      border-radius: $lev-spacing-xs;
    }
  }
}

.lev-stim-content-x-3 {
  @extend .lev-stim-content;

  img {
    width: calc(3 * clamp(120px, 12vw, 150px));
    height: calc(3 * clamp(120px, 12vw, 150px));
  }

  @include respond-to('small-medium') {
    img {
      width: calc(3 * clamp(100px, 20vw, 150px));
      height: calc(3 * clamp(100px, 20vw, 150px));
    }
  }

  @include respond-to('small') {
    img {
      width: 3 * 25vw;
      height: 3 * 25vw;
    }
  }

}
