#jspsych-html-slider-response-wrapper {
  width: min(800px, 95%);
  max-height: 95%;
  margin: 0 !important;
}

.jspsych-html-slider-response-container {
  width: 100% !important;
}

#jspsych-html-slider-response-response {
  width: 100%;
}

#jspsych-html-slider-response-stimulus {
  text-align: center;
  margin-bottom: 5rem;
}

#slider-btn-container {
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
}
